# build intermediates of the reports' PDF pipelines
2026-09-02-21-for-21/book_print.html
2026-09-02-21-for-21/book_base.pdf
2026-09-02-21-for-21/tools/instrcount
2026-09-19-the-measuring-equipment/THE_MEASURING_EQUIPMENT_print.html
2026-09-19-the-measuring-equipment/.base.pdf
